<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <a class="navbar-brand" href="/">Technova Store</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <% if current_page?(root_path) %>
        <li class="nav-item">
          <%= link_to "Categories", categories_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", "/about", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", "/contact", class: "nav-link" %>
        </li>
              <% end %>
            </ul>
          </div>
        </nav>
